{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Imperial Bootstrap Template</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="{% static 'common/img/favicon.png' %}" rel="icon">
  <link href="{% static 'common/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'common/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'common/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'common/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'common/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'common/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'common/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'common/css/style.css' %} " rel="stylesheet">

  <!-- =======================================================
  * Template Name: Imperial - v3.0.0
  * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<style>
  .container-ar{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
  }
</style>
</head>

<body dir="rtl">
{% block extra_content %}

{% endblock %} 

{% block main %}
{% endblock  %}
  <!-- Vendor JS Files -->
  <script src="{% static 'common/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'common/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'common/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'common/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'common/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'common/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'common/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'common/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'common/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'common/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'common/js/main.js' %}"></script>
{% block js %}
{% endblock %}
</body>

</html>