{% extends 'common_base.html' %}
{% load staticfiles %}

{% block extra_content %}
<header id="header">
    <div class="container-ar d-flex align-items-center" >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="">اسم المستخدم: {{request.user.username}}</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header>
{% endblock %}
{% block main %}

<div class="container m-5 float-right">
    <h3>{{request.user}}</h3>
    <form method="post" class="text-aligner">
        {% csrf_token %}
        <div class="form-row mb-3">
            <div class="col-md-3">
                <label >كلمة السر القديمة</label>
                {{ form.old_password }}
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-3">
                <label >كلمة السر الجديدة</label>
                {{ form.new_password1 }}
            </div>
        </div>

        <div class="form-row mb-3">
            <div class="col-md-3">
                <label >  تاكيد كلمة السر الجديدة </label>
                {{ form.new_password2 }}
            </div>
        </div>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
        <div class="form-row">
            <button type="submit" class="btn btn-success">تغيير كلمة السر</button>
        </div>
       
      </form>
      <div class="row text-aligner m-5">
        <div class="col-md-3">
            <a href="{% url 'logout' %}" class="btn btn-danger">عودة</a>
        </div>
      </div>
</div>



{% endblock  %}

{% block js %}
<script>
    $("#id_old_password").addClass("form-control")
    $("#id_new_password1").addClass("form-control")
    $("#id_new_password2").addClass("form-control")
</script>
{% endblock %}