{% extends "common_base.html" %}
{% load staticfiles %}


{% block extra_content %}
  <!-- ======= main Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <h1>انتخابات مجلس النواب الاردني</h1>
        <div class="actions">
          <i class="fa fa-star fa-5x ml-2 star-icon" aria-hidden="true"></i>
          <i class="fa fa-star fa-5x mr-2 star-icon" aria-hidden="true"></i>
        </div>
        <div class="actions">

          <a href="#about" class="login-link" data-toggle="modal" data-target="#candidateLoginForm">مرشح</a>
          <a href="/" class="login-link" data-toggle="modal" data-target="#voterLoginForm">ناخب</a>
        </div>
      </div>
    </div>
  </section><!-- End main -->
<!-- candidate login -->
  <div class="modal fade" id="candidateLoginForm" tabindex="-1" role="dialog" aria-labelledby="candidateloginformlabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header"> 
          <h5 class="modal-title" id="loginformlabel">تسجيل دخول</h5>
  
          </button>
        </div>
        
          <div class="modal-body">
            <form id="#voterloginform" method="POST" action="{% url 'userlogin' %}">
            {% csrf_token %} 
              <div class="form-group text-aligner">
                <label for="recipient-name" class="col-form-label">رقم الهاتف / اسم المستخدم</label>
                {{candidate_login_form.candidate_username}}
              </div>
              <div class="form-group text-aligner">
                <label for="message-text" class="col-form-label">كلمة السر</label>
                {{candidate_login_form.candidate_password}}
              </div>
  
            </form>
          </div>
        
        <div class="modal-footer">
          <button id="candidate-submit-form" class="btn btn-primary btn-block">تسجيل دخول</button>        </div>
      </div>
    </div>
  </div>

<!--voter login  -->
<div class="modal fade" id="voterLoginForm" tabindex="-1" role="dialog" aria-labelledby="voterloginformlabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="loginformlabel">تسجيل دخول</h5>

        </button>
      </div>
      
        <div class="modal-body">
          <form id="loginform" method="POST" action="{% url 'userlogin' %}">
          {% csrf_token %} 
            <div class="form-group text-aligner">
              <label for="recipient-name" class="col-form-label">رقم الهاتف / اسم المستخدم</label>
              {{login_form.username}}
            </div>
            <div class="form-group text-aligner">
              <label for="message-text" class="col-form-label">كلمة السر</label>
              {{login_form.password}}
            </div>

          </form>
        </div>
      
      <div class="modal-footer">
        <button id="submit-form" class="btn btn-primary btn-block">تسجيل دخول</button>
        <button type="button" class="btn btn-success btn-block" data-target="#regModal" data-toggle="modal" >لا تمتلك حساب؟ سجل الان</button>
      </div>
    </div>
  </div>
</div>

<!-- regmodal -->
 <div class="modal fade text-aligner" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regLable" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="regLable">مرحبا بك </h5>
      </div>
      <div class="modal-body ">
        <form>
          <div class="form-row">
            <div class="col-sm-3 mb-3">
              
              {{voter_reg_form.first_name}}
            </div>
            <div class="col-sm-3 mb-3">
             
              {{voter_reg_form.second_name}}
            </div>
            <div class="col-sm-3 mb-3">
              
              {{voter_reg_form.third_name}}
            </div>
            <div class="col-sm-3 mb-3">
              
              {{voter_reg_form.last_name}}
            </div>            
          </div>
          
          <div class="form-row">
            <div class="col-sm-3 mb-3">
             
              {{voter_reg_form.mobile_number}}
            </div>
            <div class="col-sm-4 mb-3">
              
              {{voter_reg_form.whatsapp_number}}
            </div>

            <div class="col-sm-4 mb-3">
              
              {{voter_reg_form.email}}
            </div>
          </div>
          
          <div class="form-row mt-2">
           
              <label >تاريخ الميلاد</label>
              {{voter_reg_form.dob}}
            
          </div>
          <div class="form-row">
            <div class="col-md-4">
              <label >الجنس</label>
              {{voter_reg_form.gender}}
            </div>
          </div>
          <div class="form-row">
            <label >العنوان</label>
          </div>
          <div class="form-row mb-5">
            
              <div class="col-lg-4">
               
                <select  id="governorate" name="governorate" class="form-control">
                    <option value="">اختر المحافظة</option>
                    {% for gover in governorates_list %}
                    <option value="{{gover.id}}">{{gover.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-4">
              <select id="dept" name="dept" class="form-control">
                  <option value="">اختر الدائرة</option>
              </select>
          </div>

          <div class="col-lg-4">
            <select id="area" name="area" class="form-control">
                <option value="">اختر المنطقة</option>
            </select>
        </div>
          </div>

          <div class="form-row mb-5">
            <div class="col-sm-4">
              <input type="password" id="pwd" required placeholder="كلمة السر">
            </div>
          </div>         
        </form>
        <button class="btn btn-success btn-block" id="register">تسجيل</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
        
      </div>
    </div>
  </div>
</div>
<!-- success modal -->
<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
       

      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">تم التسجيل بنجاح</h4>
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
       
      </div>
    </div>
  </div>
  </div>
{% endblock  %}

{% block main %}
{% endblock %}

{% block js %}
<script>
  $("#submit-form").on('click',function(){
    pwd=$("#id_password").val()
    user=$("#id_username").val()
    $.ajax({
      url:"{% url 'userlogin' %}",
      type:'POST',
      dataType:'JSON',
      data:{
        username:user,
        password:pwd,
        csrfmiddlewaretoken: '{{ csrf_token }}' 
      },
      success:function (result) {
        window.location.replace(result.redirect_to);
      },
    })

  })
  
  $("#candidate-submit-form").on('click',function(){
    pwd=$("#id_candidate_password").val()
    user=$("#id_candidate_username").val()
    $.ajax({
      url:"{% url 'userlogin' %}",
      type:'POST',
      dataType:'JSON',
      data:{
        username:user,
        password:pwd,
        csrfmiddlewaretoken: '{{ csrf_token }}' 
      },
      success:function (result) {
        window.location.replace(result.redirect_to);
      },
    })

  })

$('#register').on('click',function(){
  userprofile= new Object()
  userprofile.pwd=$('#pwd').val()
  userprofile.first_name=$("#id_first_name").val()
  userprofile.second_name=$("#id_second_name").val()
  userprofile.third_name=$("#id_third_name").val()
  userprofile.last_name=$("#id_last_name").val()
  userprofile.mobile_number=$("#id_mobile_number").val()
  userprofile.whatsapp_number=$("#id_whatsapp_number").val()
  userprofile.address=$("#id_address option:selected").val()
  userprofile.work=$("#id_work option:selected").val()
  userprofile.gender=$("#id_gender option:selected").val()
  day=$('#id_dob_day').val()
  month=$('#id_dob_month').val()
  year=$('#id_dob_year').val()
  userprofile.dob=(year+"-"+month+"-"+day)
  userprofile.email=$("#id_email").val()
  userjson=JSON.stringify(userprofile)
  

  $.ajax({
    url:"{% url 'create-voter' %}",
    type:"POST",
    data:{
      csrfmiddlewaretoken:'{{csrf_token}}',
      voter:userjson
    },
    success:function(result){
      $("#regModal").modal('hide')
      window.location.replace(result.redirect_to)
    }
  })

})

$(document).ready(function(){
  $('#id_dob_month').addClass('form-control date-input m-2')
  $('#id_dob_day').addClass('form-control  date-input m-2')
  $('#id_dob_year').addClass('form-control date-input m-2')
  $('#id_gender').addClass('form-control m-2')
})

$(document).on('change', '#governorate', function () {
    element = $('#governorate option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_gover_dept' %}",
        data: {
        'gover_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#dept").empty();
            $("#dept").append('<option value=""> كل الدوائر</option>');
            $(result).each(function (index, value) {
            $("#dept").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});

$(document).on('change', '#dept', function () {
    element = $('#dept option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_dept_area' %}",
        data: {
        'dept_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#area").empty();
            $("#area").append('<option value=""> كل المناطق</option>');
            $(result).each(function (index, value) {
            $("#area").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});
</script>
{% endblock %}