{% extends "common_base.html" %}
{% load staticfiles %}


{% block extra_content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <h1>انتخابات مجلس النواب الاردني</h1>
        <div class="actions">
          <a href="#about" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">مرشح</a>
          <a href="/" class="btn btn-success" data-toggle="modal" data-target="#voterModal">ناخب</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="exampleModalLabel">مرحبا بك </h5>

        </button>
      </div>
      <div class="modal-body ">
       <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#loginform">تسجيل دخول</button>
       <button type="button" class="btn btn-primary btn-lg btn-block">مستخدم جديد</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loginform" tabindex="-1" role="dialog" aria-labelledby="loginformlabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="loginformlabel">تسجيل دخول</h5>

        </button>
      </div>
      
        <div class="modal-body">
          <form id="loginform" method="POST" action="{% url 'userlogin' %}">
          {% csrf_token %} 
            <div class="form-group text-aligner">
              <label for="recipient-name" class="col-form-label">رقم الهاتف / اسم المستخدم</label>
              {{login_form.username}}
            </div>
            <div class="form-group text-aligner">
              <label for="message-text" class="col-form-label">كلمة السر</label>
              {{login_form.password}}
            </div>
             <div class="form-group ">
              
              
            </div>
          </form>
        </div>
      
      <div class="modal-footer">
        <button id="submit-form" class="btn btn-primary btn-block">تسجيل دخول</button>
        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">اغلاق</button>
      </div>
    </div>
  </div>
</div>
<!-- voter modal -->
 <div class="modal fade" id="voterModal" tabindex="-1" role="dialog" aria-labelledby="voterLable" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="voterLable">مرحبا بك </h5>

        </button>
      </div>
      <div class="modal-body ">
       <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#loginform">تسجيل دخول</button>
       <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#regModal">مستخدم جديد</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
        
      </div>
    </div>
  </div>
</div>
<!-- regmodal -->
 <div class="modal fade text-aligner" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regLable" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"> 
        <h5 class="modal-title" id="regLable">مرحبا بك </h5>
      </div>
      <div class="modal-body ">
        <form>
          <div class="form-row">
            <div class="col-sm-3">
              <label >الاسم الاول</label>
              {{voter_reg_form.first_name}}
            </div>
            <div class="col-sm-3">
              <label >اسم الاب</label>
              {{voter_reg_form.second_name}}
            </div>
            <div class="col-sm-3">
              <label >اسم الجد</label>
              {{voter_reg_form.third_name}}
            </div>
            <div class="col-sm-3">
              <label >اسم العائلة</label>
              {{voter_reg_form.last_name}}
            </div>            
          </div>
          
          <div class="form-row">
            <div class="col-sm-3">
              <label >رقم الهاتف</label>
              {{voter_reg_form.mobile_number}}
            </div>
            <div class="col-sm-4">
              <label >رقم الواتساب</label>
              {{voter_reg_form.whatsapp_number}}
            </div>

            <div class="col-sm-4">
              <label >البريد الالكتروني</label>
              {{voter_reg_form.email}}
            </div>
          </div>
          
          <div class="form-row mt-2">
            <div class="col-md-8">
              <label >تاريخ الميلاد</label>
              {{voter_reg_form.dob}}
            </div>
            <div class="col-md-4">
              <label >الجنس</label>
              {{voter_reg_form.gender}}
            </div>
          </div>

          <div class="form-row mb-5">
            <div class="col-sm-4">
              <label >العنوان</label>
              {{voter_reg_form.address}}
            </div>
          </div>
          <div class="form-row mb-5">
            <div class="col-sm-4">
              <label >الرقم السري</label>
              <input type="password" id="pwd" required>
            </div>
          </div>         
        </form>
        <button class="btn btn-success btn-block" id="register">تسجيل</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
        
      </div>
    </div>
  </div>
</div>
<!-- success modal -->
<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
       

      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">تم التسجيل بنجاح</h4>
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
       
      </div>
    </div>
  </div>
  </div>
{% endblock  %}

{% block main %}
{% endblock %}

{% block js %}
<script>
  $("#submit-form").on('click',function(){
    pwd=$("#id_password").val()
    user=$("#id_username").val()
    $.ajax({
      url:"{% url 'userlogin' %}",
      type:'POST',
      dataType:'JSON',
      data:{
        username:user,
        password:pwd,
        csrfmiddlewaretoken: '{{ csrf_token }}' 
      },
      

      success:function (result) {
        window.location.replace(result.redirect_to);
      },
    })

  })

$('#register').on('click',function(){
  userprofile= new Object()
  userprofile.pwd=$('#pwd').val()
  userprofile.first_name=$("#id_first_name").val()
  userprofile.second_name=$("#id_second_name").val()
  userprofile.third_name=$("#id_third_name").val()
  userprofile.last_name=$("#id_last_name").val()
  userprofile.mobile_number=$("#id_mobile_number").val()
  userprofile.whatsapp_number=$("#id_whatsapp_number").val()
  userprofile.address=$("#id_address option:selected").val()
  userprofile.gender=$("#id_gender option:selected").val()
  day=$('#id_dob_day').val()
  month=$('#id_dob_month').val()
  year=$('#id_dob_year').val()
  userprofile.dob=(year+"-"+month+"-"+day)
  userprofile.email=$("#id_email").val()
  userjson=JSON.stringify(userprofile)
  console.log(userjson)

  $.ajax({
    url:"{% url 'create-voter' %}",
    type:"POST",
    data:{
      csrfmiddlewaretoken:'{{csrf_token}}',
      voter:userjson
    },
    success:function(result){
      $("#regModal").modal('hide')
      $("#succesModal").modal('show')
    }
  })

})
</script>
{% endblock %}