{% extends 'candidate_base.html' %}


{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >

      {% comment %} <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a> {% endcomment %}
      <!-- Uncomment below if you prefer to use a text logo -->
      

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#about">تسحيل خروج</a></li>
          <li><a href="#services">اتصل بنا</a></li>


        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
{% endblock %}
{% block main %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">الصفحة الشخصية</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#vote" role="tab" aria-controls="vote" aria-selected="false">المرشحين</a>
  </li>
</ul>
  <div class="tab-content" id= "myTabContent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
      <div class="container mt-5">
          <div class="row">
            <div class="col-sm-6">
                <h2 class="about-title text-aligner">تفاصيل الانتخاب</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
            <form>

            </form>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-6">
            <h2 class="about-title text-aligner">تفاصيل الحساب</h2>
          </div>
        </div>
        <div class="row text-aligner">
        
            <form>
            
                <div class="form-row">
                  <div class="col-sm-3">
                    
                      <div class="form-group">
                        <label> الاسم الاول</label>
                        <input type="text" class="form-control" id="fname" placeholder="الاسم الاول" value="{{voter.user.first_name}}">
                      </div>
                   
                  </div>
                  <div class="col-sm-3">
                    
                      <div class="form-group">
                        <label>اسم الاب</label>
                        <input type="text" class="form-control" id="sname" placeholder="اسم الاب" value="{{voter.middle_name}}">
                      </div>
                    
                  </div>
                  <div class="col-sm-3">
                    
                    <div class="form-group">
                      <label>اسم الجد</label>
                      <input type="text" class="form-control" id="tname" placeholder="الاسم الجد" value="{{voter.last_name}}">
                    </div>
                  
                </div>
                
                <div class="col-sm-3">
                    
                  <div class="form-group">
                    <label>اسم العائلة</label>
                    <input type="text" class="form-control" id="foname" placeholder="اسم العائلة" value="{{voter.user.last_name}}">
                  </div>
                
              </div>           
                </div>
                <div class="form-row">
                  <div class="col-sm-3">             
                    <div class="form-group">
                      <label>رقم الهاتف</label>
                      <input type="text" class="form-control" id="phno" placeholder="رقم الهاتف" value="{{voter.mobile_number}}">
                    </div>
                  </div>
                  <div class="col-sm-3">             
                    <div class="form-group">
                      <label>رقم الواتساب</label>
                      <input type="text" class="form-control" id="wano" placeholder="رقم الواتساب" value="{{voter.mobile_number}}">
                    </div>
                  </div>
      
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label >العنوان</label>
                      <select multiple class="form-control" id="addresses">
                          <option value="">{{voter.address.governorate}}/{{voter.address.district}}</option>
                        {% for address in addresses_list %}
                        <option value="{{address.id}}">{{address.governorate}}/{{address.district}}</option>
                        {% endfor %}
       
                      </select>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label>الجنس</label>
                        <select multiple class="form-control" id="gender">
                          <option value="male">ذكر</option>
                          <option value="female">انثى</option>
                        </select>
                      </div>
                    </div> 
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label >تاريخ الميلاد</label>
                        <input type="date" name="dob" id="dob" >
                      </div>
                    </div>
      
                  </div>
      
                </div>
                
              </form>
        </div>
        <div class="row">
          <button id="updateprofile" class="btn btn-danger">تعديل</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="vote" role="tabpanel" aria-labelledby="vote-tab">
        <div class="container mt-5">
          <div class="row">
            <div class="col-sm-6">
              <h2 class="about-title text-aligner">اختيار المرشح\قائمة المرشحين</h2>
            </div>
          </div>
          <div class="row text-aligner">
        
          </div>

        </div>
      </div>
  </div>

{% endblock %}

{% block js %}
<script>

$("#updateprofile").on('click',function(){
  
  userprofile= new Object()
  userprofile.first_name=$("#fname").val()
  userprofile.second_name=$("#sname").val()
  userprofile.third_name=$("#tname").val()
  userprofile.last_name=$("#foname").val()
  userprofile.mobile_number=$("#phno").val()
  userprofile.whatsapp_number=$("#wano").val()
  $('#addresses option').each(function() {
    if (this.selected)
       userprofile.address=$('#addresses option:selected').val()
     else
     userprofile.address="";
});
  
  userprofile.gender=$("#gender option:selected").val()
  userprofile.dob=$("#dob").val()
  userprofile.id="{{user.id}}"
  userjson=JSON.stringify(userprofile)
  
  $.ajax({
    url:"{% url 'update-profile' %}",
    type:"POST",
    
    data:{
      user:userjson,
      csrfmiddlewaretoken: "{{csrf_token}}" 
      },
    success:function(result){
      console.log(result)
      location.reload()
    }
  })

})
</script>
{% endblock %}