{% extends 'candidate_base.html' %}
{% load staticfiles %}

{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="">اسم المستخدم: {{request.user.username}}</a></li>


        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
{% endblock %}
{% block main %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">الصفحة الشخصية</a>
  </li>

</ul>
  <div class="tab-content" id= "myTabContent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
      <div class="container mt-5">
      <div class="row">
        <div class="col-sm-6">
          <div class="alert alert-danger text-aligner" role="alert">
            <h5>اسم المستخدم: {{request.user.username}} </h5>
            <h6> ملاحظة: يستخدم كأسم مستخدم عند تسجيل الدخول, يرجى عدم مشاركته مع الاخرين</h6>
           </div>
        </div>
        {% if voter.voter.identiefier %}
        <div class="col-sm-6">
          <div class="alert alert-info text-aligner" role="alert">
            <h5>اسم المعرف: {{voter.voter.identiefier.profile.user.first_name}}  {{voter.voter.identiefier.profile.last_name}}</h5>
           </div>
        </div>
        {% endif %}


      </div>
          <div class="row">
            <div class="col-sm-4">
                <h2 class="about-title text-aligner"> 
                    الحالة الانتخابية:
                    
                    {% if voter.voter.vote_status == "Not_sure" %}
                     <a href="#" class="btn btn-warning">متردد</a>
                      {% elif voter.voter.vote_status == "Not_voting"%}
                      <a href="#" class="btn btn-danger">لا ارغب</a>
                      {% elif not voter.voter.vote_status %}
                      <a href="#" class="btn btn-secondary">غير محدد</a>
                      {% else %}
                      <a href="#" class="btn btn-success">مؤيد</a>
                      {% endif %}
                </h2>

            </div>
            {% if voter.voter.vote_status == "Voting"  and voter.voter.candidate %}
            <div class="col-sm-4">
              <h2 class="about-title text-aligner"> 
                  المرشح:
                  
                  
                   <a href="#" class="btn btn-info">{{voter.voter.candidate.profile.user.first_name}} {{voter.voter.candidate.profile.user.last_name}} {% if voter.voter.candidate.title != None %} {{voter.voter.candidate.title}}{% endif %} </a>

                    
              </h2>

          </div>
          
          {% if voter.voter.voting_id %}
          <div class="col-sm-4">
            <h2 class="about-title text-aligner"> 
                الرقم الانتخابي:                
                 <a href="#" class="btn btn-primary">{{voter.voter.voting_id}}</a>    
            </h2>

        </div>
        {% endif %}
        {% endif %}
          </div>

          <div class="row">
          <h4 class="about-title text-aligner">  الحالة الانتخابية و المرشحين: </h4>
          </div>
            <div class="row mb-3">
              
            {% if voter.voter.vote_status != "Not_voting" %}
            <div class="col-lg-5 text-aligner">
              <select id='elecList' class="form-control" >
                 
                <option>اختر القائمة الانتخابية</option>
                
                {% for eleclist in election_lists %}
                <option value="{{eleclist.id}}">{{eleclist.name}}</option>
                {% endfor %}

              </select>

            </div>
          </div>
            {% endif %}
          <div class="row">
              
            {% if voter.voter.vote_status != "Not_voting" %}
            <div class="col-lg-5 text-aligner" id="candidates_div">
              <select id='candis' class="form-control" >
              </select>

            </div>
            {% endif %}


            <div class="col-lg-6">
              <form class="form-inline" id="voteStatusForm">
         
                <div class="form-check form-check-inline">
                  <label class="form-check-label" >مؤيد</label>
                  <input class="form-check-input" type="radio" id="v" value="Voting">
                  
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" >متردد</label>
                  <input class="form-check-input" type="radio" id="ns" value="Not_sure">
                  
                </div>
                <div class="form-check form-check-inline ">
                  <label class="form-check-label" >لا ارغب</label>
                  <input class="form-check-input" type="radio" id="nv" value="Not_voting">
                </div>
                <input type="hidden" id="voterId" value="{{voter.voter.id}}">
                <input type="hidden" name="" id="candidate_choice">
           
          </form>
            </div>

          </div>
        <div class="row">
          <div class="col-sm-6">
            <h2 class="about-title text-aligner">تفاصيل الحساب</h2>
          </div>
        </div>
        <div class="row text-aligner">
        
            <form>
            
                <div class="form-row">
                  <div class="col-sm-3">
                    
                      <div class="form-group">
                        <label> الاسم الاول</label>
                        <input type="text" class="form-control" id="fname" placeholder="الاسم الاول" value="{{voter.user.first_name}}">
                      </div>
                   
                  </div>
                  <div class="col-sm-3">
                    
                      <div class="form-group">
                        <label>اسم الاب</label>
                        <input type="text" class="form-control" id="sname" placeholder="اسم الاب" value="{{voter.middle_name}}">
                      </div>
                    
                  </div>
                  <div class="col-sm-3">
                    
                    <div class="form-group">
                      <label>اسم الجد</label>
                      <input type="text" class="form-control" id="tname" placeholder="الاسم الجد" value="{{voter.last_name}}">
                    </div>
                  
                </div>
                
                <div class="col-sm-3">
                    
                  <div class="form-group">
                    <label>اسم العائلة</label>
                    <input type="text" class="form-control" id="foname" placeholder="اسم العائلة" value="{{voter.user.last_name}}">
                  </div>
                
              </div>           
                </div>
                <div class="form-row">
                  <div class="col-sm-3">             
                    <div class="form-group">
                      <label>رقم الهاتف</label>
                      <input type="text" class="form-control" id="phno" placeholder="رقم الهاتف" value="{{voter.mobile_number}}">
                    </div>
                  </div>
                  <div class="col-sm-3">             
                    <div class="form-group">
                      <label>رقم الواتساب</label>
                      
                      <input type="text" class="form-control" id="wano" placeholder="رقم الواتساب" value="{% if voter.whatsapp_number %}{{voter.whatsapp_number}}{% else %}لا يوجد رقم{% endif %}">
                    </div>
                  </div>
      
                </div>
                <div class="form-row">
                  <h4>عنوان السكن</h4>
                </div>
                <div class="form-row">
                  
                  <div class="col-lg-4">
                    <select name="" id="area" class="form-control">
                      {% for area in areas_list %}
                      <option value="{{area.id}}">{{area.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-lg-4">
                    <select name="" id="district" class="form-control">
                      <option value="">الحي</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-5">
                    <div class="form-check form-check-inline">
                      {% if voter.voter.has_elc_card %}
                      <input class="form-check-input ml-2" type="checkbox" id="elecCard" checked  >
                      {% else %}
                      <input class="form-check-input ml-2" type="checkbox" id="elecCard" >

                      {% endif %}
                      <label class="form-check-label"  >هل ترغب بالحصول على بطاقة انتخابية؟</label>
                     
                    </div>
                  </div>

                </div>
              </form>
        </div>
        <div class="row ">
          <button id="updateprofile" class="btn btn-danger m-5">حفظ</button>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">تمت العملية بنجاح</h4>
           
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="reload" >اغلاق</button>
         
        </div>
      </div>
    </div>
    </div>
  <!-- select candidate Modal -->

{% endblock %}

{% block js %}
<script>

$("#updateprofile").on('click',function(){
  
  userprofile= new Object()
  userprofile.first_name=$("#fname").val()
  userprofile.second_name=$("#sname").val()
  userprofile.third_name=$("#tname").val()
  userprofile.last_name=$("#foname").val()
  userprofile.mobile_number=$("#phno").val()
  userprofile.whatsapp_number=$("#wano").val()
  $('#addresses option').each(function() {
    if (this.selected)
       userprofile.address=$('#addresses option:selected').val()
     else
     userprofile.address="";
});
  
  userprofile.gender=$("#gender option:selected").val()
  userprofile.district=$("#district option:selected").val()
  userprofile.dob=$("#dob").val()
  userprofile.id="{{user.id}}"
  userjson=JSON.stringify(userprofile)
  console.log(userprofile.district)
  elect_card=$('#elecCard')
  if (elect_card.prop('checked')){
    ec=true
  }
  else{
    ec=false
  }
  status=$("#voteStatusForm").find('input:radio:checked').val()
  candidate=$('#candis option:selected').val()
  voter_id=$("#voterId").val()
  $.ajax({
    url:"{% url 'edit-voting-status' %}",
    type:"POST",
    data:{
      status:status,
      voter_id:voter_id,
      candidate:candidate,
      ec:ec,
      csrfmiddlewaretoken:"{{csrf_token}}",
      success:function(reslut){
        $("#succesModal").modal('show')
      }
    }
  })
  $.ajax({
    url:"{% url 'update-profile' %}",
    type:"POST",
    
    data:{
      user:userjson,
      csrfmiddlewaretoken: "{{csrf_token}}" 
      },
    success:function(result){
      console.log(result)
      location.reload()
    }
  })


})

$("#v").change(function(){

$("#ns").prop("checked", false);
$("#nv").prop("checked", false);

});

$("#ns").change(function(){

$("#nv").prop("checked", false);
$("#v").prop("checked", false);
});

$("#nv").change(function(){

$("#ns").prop("checked", false);
$("#v").prop("checked", false);
});



$(".select-candidate").on("click",function(){
  candidate_id=$(this).attr('data-candidate-id')
  
  candidate_name=$(this).attr('data-candidate-name')

  cid=$("#candidate_choice").val(candidate_id)
  $("#selectedCandidate").text(candidate_name)
  $("#candidate_"+candidate_id).modal("hide")
})


$("#reload").on("click",function(){
  location.reload()
})

$('#elecList').on('change',function(){
  election_list=$('#elecList option:selected').val()
  $.ajax({
    url:'{% url "get_candidates" %}',
    type:'GET',
    data:{
      election_list:election_list
    },
    success:function(result){
      $("#candidates_div").show()
      console.log(result)
      $(result).each(function(index,value){
        $('#candis').append('<option'+' value='+value.id +'>'+value.name+'</option>')
        
      })
        
      
    }
  })
})

$(document).ready(function(){
  $("#candidates_div").hide()
 // Initialize select2
 $("#candis").select2({
  dir: "rtl"
});

 // Read selected option
 $('#but_read').click(function(){
   var username = $('#candis option:selected').text();
   
 });
});


$(document).on('change', '#area', function () {
    element = $('#area option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_district' %}",
        data: {
        area_id: element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#district").empty();
            $("#district").append('<option value=""> الحي</option>');
            $(result).each(function (index, value) {
            $("#district").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});
</script>
{% endblock %}