{% extends 'candidate_base.html' %}

{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="#services">اتصل بنا</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
{% endblock extra_content %}

{% block main %}
<div class="container text-aligner">
    <div class="row">
    <h1 class="about-title">تقرير اعضاء اللجان</h1>
    
    <input id="area_report" hidden>
    <input id="gover_report" hidden>
    <input id="dept_report" hidden>
    </div>
    <div class="row">
        <button class="btn btn-danger btn-sm mb-3" id="print">مراجعة و طباعة التقرير</button>
    </div>
    <div class="row">
        <form class="form-inline">

            <div class="form-row mt-3">

                
                    <select id="area" name="area" class="form-control m-2">
                        <option value="">اختر المنطقة</option>
                        {% for area in areas_list %}
                        <option value="{{area.id}}">{{area.name}}</option>
                        {% endfor %}
                    </select>
            
                    <select id="district" name="district" class="form-control m-2">
                        <option value="">اختر الحي</option>
                    </select>
               
             
                    <button id="search" type="submit" class="btn btn-info m-2">ابحث</button>
            
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
          <table class="table table-sm">
              <thead>
                  <tr>
                  <th scope="col">رقم الناخب</th>
                  <th scope="col">الاسم كامل </th>
                  <th scope="col">هاتف الناخب</th>
                  <th scope="col">اسم المعرف</th>
                  <th scope="col">هاتف المعرف 1</th>
                  <th scope="col">هاتف المعرف 2</th>
                  <th scope="col">هل حصل على بطاقة?</th>
                  </tr>
              </thead>
              <tbody>
  
              </tbody>
              </table>
        </div>
  
    </div>
</div>
{% endblock main %}


{% block js %}

<script>
$(document).on('change', '#governorate', function () {
    element = $('#governorate option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_gover_dept' %}",
        data: {
        'gover_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#dept").empty();
            $("#dept").append('<option value=""> كل الدوائر</option>');
            $(result).each(function (index, value) {
            $("#dept").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});

$(document).on('change', '#area', function () {
    element = $('#area option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_district' %}",
        data: {
        'area_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#district").empty();
            $("#district").append('<option value=""> اختر الحي</option>');
            $(result).each(function (index, value) {
            $("#district").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});

$('#search').on('click',function(e){
    e.preventDefault()
    area_id= $('#area option:selected').val();
    district_id= $('#district option:selected').val();
    query=new Object()
    query.area_id=area_id
    query.district=district_id
    query.candidate="{{candidate.id}}"


    $.ajax({
        url:"{% url 'get_voters' %}",
        type:"GET",
        dataType:"JSON",
        data:{
            query:JSON.stringify(query)
        },
        success:function(result){
            console.log(result)
        table=$('tbody')
        table.empty()
        $(result.data).each(function(index,value){
            row=document.createElement('tr')
            id=document.createElement('td')
            fullname=document.createElement('td')
            mobile=document.createElement('td')
            identifier=document.createElement('td')
            identifier_mob=document.createElement('td')
            identifier_wa=document.createElement('td')
            election_card=document.createElement('td')

            id.innerHTML=value.id
            fullname.innerHTML=value.full_name
            mobile.innerHTML=value.mobile_no
            identifier.innerHTML=value.identifier
            identifier_mob.innerHTML=value.identifier_phone_no
            identifier_wa.innerHTML=value.identifier_whats_no
            election_card.innerHTML=value.has_elc_card
            row.append(id)
            row.append(fullname)
            row.append(mobile)
            row.append(identifier)
            row.append(identifier_mob)
            row.append(identifier_wa)
            row.append(election_card)
            table.append(row)
            
        })
        }
    })

})

$("#print").on("click",function(){
    area_id= $('#area option:selected').val();
    district_id= $('#district option:selected').val();
    query=new Object()
    query.area_id=area_id
    query.district=district_id
    query.candidate="{{candidate.id}}"
    window.open("{% url 'by-address-report' %}?query="+JSON.stringify(query))
    

})
</script>


{% endblock %}