{% extends 'candidate_base.html' %}


{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >

      {% comment %} <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a> {% endcomment %}
      <!-- Uncomment below if you prefer to use a text logo -->
      

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="">اسم المستخدم:{{request.user.username}} </a></li>


        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
{% endblock %}
{% block main %}
{% if request.user.userprofile.comitteemember.is_active or not request.user.userprofile.comitteemember.comittee.is_active %}
<div class="row m-5">
  <div class="alert alert-danger" role="alert">
   حسابك موقوف من قبل ادارة الحملة
  </div>
</div>
{% else %}
<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item">
    <a class="nav-link " id="home-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">الصفحة الشخصية</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="members-tab" data-toggle="tab" href="#createcomittee" role="tab" aria-controls="home" aria-selected="false">اللجان</a>
  </li>
  {% if members_permissions.can_view_member %}
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"> الاعضاء</a>
  </li>
  {% endif %}
  
  {% if reports_permissions.can_view_report %}
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">التقارير</a>
  </li>
  {% endif %}
   {% if voters_permissions.can_view_voter %}
    <li class="nav-item">
    <a class="nav-link" id="newVoters-tab" data-toggle="tab" href="#newVoters" role="tab" aria-controls="newVoters" aria-selected="false">الناخبين الجدد</a>
  </li>
  {% endif %}
</ul>
  <div class="tab-content text-aligner" id= "myTabContent">
    <div class="tab-pane fade show active " id="account" role="tabpanel" aria-labelledby="account-tab">
      <div class="container mt-5">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="about-title text-aligner">تفاصيل الحساب</h2>
          </div>
        </div>
        <div class="row text-aligner">
          <form>
            
          <div class="form-row">
            <div class="col-sm-3">
              
                <div class="form-group">
                  <label> الاسم الاول</label>
                  <input type="text" class="form-control" id="fname" placeholder="الاسم الاول" value="{{user.user.first_name}}">
                </div>
             
            </div>
            <div class="col-sm-3">
              
                <div class="form-group">
                  <label>اسم الاب</label>
                  <input type="text" class="form-control" id="sname" placeholder="اسم الاب" value="{{user.middle_name}}">
                </div>
              
            </div>
            <div class="col-sm-3">
              
              <div class="form-group">
                <label>اسم الجد</label>
                <input type="text" class="form-control" id="tname" placeholder="الاسم الجد" value="{{user.last_name}}">
              </div>
            
          </div>
          
          <div class="col-sm-3">
              
            <div class="form-group">
              <label>اسم العائلة</label>
              <input type="text" class="form-control" id="foname" placeholder="اسم العائلة" value="{{user.user.last_name}}">
            </div>
          
        </div>           
          </div>
          <div class="form-row">
            <div class="col-sm-3">             
              <div class="form-group">
                <label>رقم الهاتف</label>
                <input type="text" class="form-control" id="phno" placeholder="رقم الهاتف" value="{{user.mobile_number}}">
              </div>
            </div>
            <div class="col-sm-3">             
              <div class="form-group">
                <label>رقم الواتساب</label>
                <input type="text" class="form-control" id="wano" placeholder="رقم الواتساب" value="{{user.mobile_number}}">
              </div>
            </div>

          </div>
          
        </form>
        
        </div>
        <div class="row">
          <a  href="{% url 'password-change' %}" class="btn btn-danger btn-sm" >تغيير الرقم السري</a>
        </div>
        <div class="row mt-3">
          <button id="updateprofile" class="btn btn-danger" >تعديل</button>
        </div>
      </div>
    </div>
  
  <div class="tab-pane fade " id="createcomittee" role="tabpanel" aria-labelledby="home-tab">
 
    <div class="container mt-5">
      
      {% if user.comitteemember.is_manager %}
      
        {% if memebers_permissions.can_create_member %}
          <div class="row">
            <div class="col-sm-6">
              <div class='form-group text-aligner'>
                <button  id='cm' class="btn btn-danger mb-2"  data-toggle="modal" data-target="#createComitteeMember">انشاء عضو لجنة </button>
              </div>
            </div>
          </div>
          {% endif %}
     
      {% endif %}
    <div class="row">      
    <div class="col-sm-6">
      
      <h2 class="about-title text-aligner">{{comittee.name}}</h2>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">الحالة</th>
            <th scope="col">مدير اللجنة</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
           
            {% if comittee.is_active %}
            <td>فعالة</td>
            {% else %}
            <td>غير فعالة</td>
            {% endif %}
            <td>{{comittee.manager.profile.user.first_name}} {{comittee.manager.profile.user.last_name}}</td>
           
          </tr>
          

        </tbody>
      </table>
    </div>
    </div>

  </div>

  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
   
    <div class="container mt-5">
      <div class="row">
 
      <div class="col-sm-8">
        <h2 class="about-title text-aligner">مدير الحملة</h2>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">اسم المدير</th>
              <th scope="col">رقم الهاتف</th>
              <th scope="col">البريد الالكتروني</th>
           
              
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <th scope="row">{{campaign_manager.profile.user.first_name}}  {{campaign_manager.profile.user.last_name}}</th>
              <td>{{campaign_manager.profile.mobile_number}}</td>
              <td>{{campaign_manager.profile.user.email}}</td>
              
            </tr>
            
  
          </tbody>
        </table>
      </div>

      </div>
  <!-- comittee members -->
  
    <div class="row">
      <div class="col-md-8">
        <h2 class="about-title text-aligner">اعضاء اللجنة</h2>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">اسم العضو</th>
              
              <th scope="col">رقم الهاتف</th>
              <th scope="col">البريد الالكتروني</th>
              <th scope="col">اللجنة</th>
              <th scope="col">الحالة الادارية</th>
              {% if members_permissions.can_update_member %}
              <th scope="col">تعديل</th>
              <th scope="col">صلاحيات</th>
              {% endif %}  
              
            </tr>
          </thead>
          <tbody>
            {% for comittee_member in comittees_members %}
            <tr>
              <th scope="row">{{comittee_member.profile.user.first_name}}  {{comittee_member.profile.user.last_name}}</th>
              <td>{{comittee_member.profile.mobile_number}}</td>
              <td>{{comittee_member.profile.user.email}}</td>            
              <td>{{comittee_member.comittee}}</td>
              {% if comittee_member.is_manager %}
              <td>مدير</td>
              {% else %}
              <td>عضو</td>
              {% endif %}
              {% if members_permissions.can_update_member %}
              <td><a href="{% url 'update-cm' comittee_member.id %}" class="btn btn-success">حفظ</a></td>
              <td><button class="btn btn-danger" data-toggle="modal" data-target="#modal_{{comittee_member.id}}">صلاحيات</button></td>
              <div class="modal fade" id="modal_{{comittee_member.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> صلاحيات المستخدم: {{comittee_member.profile.user.first_name}}  {{comittee_member.profile.user.last_name}}</h5>
  
                      </button>
                    </div>
                    <div class="modal-body text-aligner">
                      <form>
                        <h4> المستخدمين:</h4>
                        <div class="row mt-2">
                          
                         
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            عرض
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="showUser_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            حفظ
                          </label>                       
                            <input class="form-check-input" type="checkbox" id="editUser_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            حذف
                          </label>                       
                            <input class="form-check-input" type="checkbox"id="deleteUser_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            انشاء
                          </label>                       
                            <input class="form-check-input" type="checkbox"  id="createUser_{{comittee_member.id}}">  
                          </div>
                        </div>
                        </div> 
                        <h4> اللجان:</h4>
                        <div class="row mt-2">
                          
                         
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            عرض
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="showComm_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            حفظ
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="editComm_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            حذف
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="deleteComm_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            انشاء
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="createComm_{{comittee_member.id}}">  
                          </div>
                        </div>
                        </div> 
  
                        <h4> التقارير:</h4>
                        <div class="row mt-2">
                          
                         
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            عرض
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="showRep_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            حفظ
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="editRep_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            حذف
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="deleteRep_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1"></label>
                            انشاء
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="createRep_{{comittee_member.id}}">  
                          </div>
                        </div>
                        </div> 
                       
                        <h4> الناخبين:</h4>
                        <div class="row mt-2">
                          
                         
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1">
                            عرض
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="showVoter_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1">
                            حفظ
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="editVoter_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1">
                            حذف
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="deleteVoter_{{comittee_member.id}}">  
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <div class="form-check"> 
                            <label class="form-check-label" for="defaultCheck1">
                            انشاء
                          </label>                       
                            <input class="form-check-input" type="checkbox" value="" id="createVoter{{comittee_member.id}}">  
                          </div>
                        </div>
                        </div>    
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
                      <button type="button" class="btn btn-success grant" id='grantPermit' data-user="{{comittee_member.id}}">حفظ</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </tr>
            
            {% endfor %}
  
          </tbody>
        </table>
      </div>
    </div>
  
    </div>
  </div>

  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    
  <div class="container text-aligner">
    <div class="row">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        {% if request.user.userprofile.comitteemember.is_manager %}
        <a class="nav-link active" id="v-pills-home-tab"  href="{% url 'cm-report' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">الاستعلام عن الناخبين حسب عضو الارتباط</a>
        <a class="nav-link" id="v-pills-profile-tab"  href="{% url 'identifier-report' %}" role="tab" aria-controls="v-pills-profile" aria-selected="false">الاستعلام عن ناخبين حسب المعرفين</a>
        <a class="nav-link" id="v-pills-messages-tab"  href="{% url 'address-report' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">الاستعلام عن الناخبين حسب العناوين</a>
        <a class="nav-link" id="v-pills-settings-tab" href="{% url 'status-report' %}" role="tab" aria-controls="v-pills-settings" aria-selected="false">الاستعلام عن الناخبين المترددين</a>
        {% else %}
        <a class="nav-link" id="v-pills-messages-tab"  href="{% url 'address-report' %}" role="tab" aria-controls="v-pills-messages" aria-selected="false">الاستعلام عن الناخبين حسب العناوين</a>
        {% endif %}
      </div>
    </div>

  </div>
  </div>
  
  <div class="tab-pane fade" id="newVoters" role="tabpanel" aria-labelledby="contact-tab">

    <div class="container text-aligner mt-5">
      <div class="row">
        <h4>الناخبين الجدد</h4>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">الاسم الكامل</th>
                <th scope="col">عضو الارتباط</th>
                <th scope="col">رقم الهاتف</th>
                <th scope="col">تم المتابعة</th>
                <th scope="col">التفاصيل</th>
              </tr>
            </thead>
            <tbody>
              {%  for voter in new_voters_list %}
              <tr>
                <td >{{voter.profile.user.first_name}} {{voter.profile.middle_name}} {{voter.profile.last_name}} {{voter.profile.user.last_name}}</td>
                <td >{{voter.related_comittee_member.profile.user.first_name}} {{voter.related_comittee_member.profile.middle_name}} {{voter.related_comittee_member.profile.user.last_name}}</td>
                <td >{{voter.profile.mobile_number}}</td>
                <td >لا</td>
                {% if voters_permissions.can_update_voter %}
                <td><a class="btn btn-danger" href="{% url 'update-voter' voter.id %}"> عرض التفاصيل</a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
</div>

<div class="modal fade" id="createComitteeMember" tabindex="-1" role="dialog" aria-labelledby="createComitteeMemberTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createComitteeMemberTitle">انشاء عضو لجنة</h5>

      </div>
      <div class="modal-body">
      <form>
      <div class="row text-aligner">
 
      <div class="col-sm-3">
        <div class="form-group">
          <label >الاسم الاول:</label>
          {{comittee_member_form.first_name}}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label >اسم الاب:</label>
          {{comittee_member_form.middle_name}}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label >اسم الجد:</label>
          {{comittee_member_form.third_name}}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label >اسم العائلة:</label>
          {{comittee_member_form.last_name}}
        </div>
      </div>
      </div>
      <div class="row text-aligner">
 
        <div class="col-sm-6">
          <div class="form-group">
            <label >رقم الهاتف:</label>
            {{comittee_member_form.mobile_number}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label > الواتساب:</label>
            {{comittee_member_form.whatsapp_number}}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label > البريد الالكتروني:</label>
            {{comittee_member_form.email}}
          </div>
        </div>
      </div>

        <input type="hidden" value="cmo" name="member_type" id='usertype'>
        <input type="hidden" id="comittee" value="{{comittee.id}}">
      </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">اغلاق</button>
        <button type="button" class="btn btn-success" id="createmember">حفظ</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="succesModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
       

      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">تمت العملية بنجاح</h4>
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="reload" >اغلاق</button>
      </div>
    </div>
  </div>
  </div>


  {% endif %}
{% endblock %}

{% block js %}
<script>
  var csrftoken='{{ csrf_token }}'
  function getFormData(){
    data={
      first_name:$('#id_first_name').val(),
      mobile_number:$('#id_mobile_number').val(),
      email:$('#id_email').val(),
      last_name:$('#id_last_name').val(),
      third_name:$('#id_last_name').val(),
      usertype:$('#usertype').val(),
      middle_name:$('#id_middle_name').val(),
      comittee:$('#comittee').val(),
      csrfmiddlewaretoken:csrftoken  
    }
    return data
  }


$(document).on("click", ".grant", function () {
     var user=$(this).attr('data-user')     
     var showComm=$('#showComm_'+user).is(":checked")
     var editComm=$('#editComm_'+user).is(":checked")
     var deleteComm=$('#deleteComm_'+user).is(":checked")
     var createComm=$('#createComm_'+user).is(":checked")

     var showUser=$('#showUser_'+user).is(":checked")
     var editUser=$('#editUser_'+user).is(":checked")
     var deleteUser=$('#deleteUser_'+user).is(":checked")
     var createUser=$('#createUser_'+user).is(":checked")
     
     commPerm={
       'show':showComm,
       'edit':editComm,
       'delete':deleteComm,
       'create':createComm,
     }

      var comitteePerm=new Object();
      comitteePerm.show=showComm
      comitteePerm.edit=editComm
      comitteePerm.delete=deleteComm
      comitteePerm.create=createComm

      var userPerm = new Object();
      userPerm.show = showUser;
      userPerm.edit = editUser;
      userPerm.delete = deleteUser;
      userPerm.create=createUser;
      userJson=JSON.stringify(userPerm)
      comitteeJson=JSON.stringify(comitteePerm)
      
      console.log(userJson)
      console.log(comitteeJson)
     
     $.ajax({
       url:"{% url 'grant-permession' %}",
       type:"POST",
       data:{
         userPerm:userJson,
         commPerm:comitteeJson,
         
         userId:user,
         csrfmiddlewaretoken: csrftoken 
       },
       success:function(result){
        $("#succesModal").modal('show')
       }
     })
     
});

$("#updateprofile").on('click',function(){
  
  userprofile= new Object()
  userprofile.first_name=$("#fname").val()
  userprofile.second_name=$("#sname").val()
  userprofile.third_name=$("#tname").val()
  userprofile.last_name=$("#foname").val()
  userprofile.mobile_number=$("#phno").val()
  userprofile.whatsapp_number=$("#wano").val()
    $('#addresses option').each(function() {
    if (this.selected)
       userprofile.address=$('#addresses option:selected').val()
     else
     userprofile.address="";
});
  userprofile.id="{{user.id}}"
  userjson=JSON.stringify(userprofile)
  console.log(userprofile)

  $.ajax({
    url:"{% url 'update-profile' %}",
    type:"POST",
    
    data:{
      user:userjson,
      csrfmiddlewaretoken: csrftoken 
      },
    success:function(result){
      
      $("#succesModal").modal('show')
    }
  })
})

$("#reload").on("click",function(){
  location.reload()
})
$('#createmember').on('click',function(){
  data=getFormData()
  $.ajax({
    url:"{% url 'create-user' %}",
    type:"POST",
    data:data,
    success:function(result){
      $('#createComitteeMember').modal('hide')
      $("#succesModal").modal('show')
    }
  })
})

</script>

{% endblock %}