{% extends 'candidate_base.html' %}


{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          {% if request.user.userprofile.comitteemember %}
          <li><a href="{% url 'comittee-member' %}#newVoters">عودة</a></li>
          {% else %}

          <li><a href="{% url 'main' %}#newVoters">عودة</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
{% endblock %}
{% block main %}
<div class="container mt-5 text-aligner">
<div class="row">
    <div class="col-sm-4">
        <h5 class="about-title">
            تعديل الناخب:
            {{voter.profile.first_name}} {{voter.profile.last_name}}
        </h5>
    </div>
    {% if voter.related_comittee_member %}
    <div class="col-sm-3">
        <h5 class="about-title">عضو اللجنة: {{voter.related_comittee_member.profile.user.first_name}} {{voter.related_comittee_member.profile.user.last_name}}/{{voter.related_comittee_member.profile.mobile_number}}</h5>
    </div>
    {% else %}
        <div class="col-sm-3">
        <h5 class="about-title">عضو اللجنة: غير محدد</h5>
    </div>
    {% endif %}



    {% if voter.election_box_officer %}
    <div class="col-sm-3">
        <h5 class="about-title">عضو الصندوق: {{voter.election_box_officer.profile.user.first_name}} {{voter.election_box_officer.profile.user.last_name}}/{{voter.election_box_officer.profile.mobile_number}}</h5>
    </div>
    {% else %}
        <div class="col-sm-3">
        <h5 class="about-title">عضو الصندوق: غير محدد</h5>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-4">
        <h5> رقم الهاتف الناخب:{{voter.profile.mobile_number}}</h5>
        <h5> رقم واتساب الناخب:{{voter.profile.whatsapp_number}}</h5>
    </div>

</div>

<div class="row">
    <form method="POST">
        {% csrf_token %}
        {% if request.user.userprofile.campaignadminstrator or request.user.userprofile.comitteemember.is_manager or request.user.userprofile.candidate %}
        <div class="form-row">
                <label for="">عضو لجنة الارتباط</label>
                <select class="form-control" name="cm">
                {% if voter.related_comittee_member %}
                    <option value="" disabled>{{voter.related_comittee_member.profile.user.first_name}} {{voter.related_comittee_member.profile.user.last_name}}</option>
                    {% endif %}
                    {% for cm in cm_list %}
                    {% if cm.comittee.communication_comittee %}
                    <option value="{{cm.id}}">{{cm.profile.user.first_name}} {{cm.profile.user.last_name}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>

        </div>
        {% endif %}



        {% if request.user.userprofile.campaignadminstrator or request.user.userprofile.comitteemember.is_manager or request.user.userprofile.candidate %}
        <div class="form-row">
                <label for="">عضو لجنة الصندوق</label>

                <select class="form-control" name="ebo">
                {% if voter.election_box_officer %}
                <option value="" disabled>{{voter.election_box_officer.profile.user.first_name}} {{voter.election_box_officer.profile.user.last_name}}</option>
                {% endif %}
                    {% for cm in cm_list %}
                    {% if cm.comittee.election_box_comittee %}
                    <option value="{{cm.id}}">{{cm.profile.user.first_name}} {{cm.profile.user.last_name}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>

        </div>
        {% endif %}



        <div class="form-row mt-3 ml-3">
            {% if voter.followed_up %}
            <input type="checkbox" name="is_followed" checked>
            {% else %}
            <input type="checkbox" name="is_followed">
            {% endif%}
            <label >
            تمت متابعته
            </label>

        </div>
        <div class="form-row mt-2">
            <input type="submit" class="btn btn-danger" value="حفظ">
        </div>
    </form>

</div>
</div>
{% endblock %}
