{% extends 'candidate_base.html' %}

{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="#services">اتصل بنا</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
{% endblock extra_content %}

{% block main %}
<div class="container text-aligner">
    <div class="row">
    <h1 class="about-title">تقرير ناخبين حسب المعرف</h1>
    </div>
    <div class="row">
        <button class="btn btn-danger btn-sm mb-3" id="print">مراجعة و طباعة التقرير</button>
    </div>
    <div class="row mb-3">
        <h3 id="identifier_result"></h3>
    </div>
    <div class="row">
        <form >
            <div class="form-row">
                <div class="col-lg-4">
                    <input type="text" class="form-control"  id="idn_name" placeholder="اسم المعرف" >
                    
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control"  id="idn_p_no" placeholder="رقم هاتف١" >
                    
                </div>


                <div class="col-lg-4">
                    <input type="text"  class="form-control" id="idn_w_no" placeholder="رقم هاتف٣" >                   
                </div>               
            </div>
            <input type="hidden"  id="idn_id"> 
            {% if request.user.userprofile.campaignadminstrator or request.user.userprofileprofile.campaignadminstrator %}
            <div class="form-row">
                <div class="col-lg-4">
                    <input type="text" class="form-control"  id="cm" placeholder="اسم عضو اللجنة" >      
                </div>
                              
                <div class="col-lg-4">
                    <input type="text" class="form-control"  id="p_no" placeholder="رقم هاتف١" >
                    
                </div>


                <div class="col-lg-4">
                    <input type="text"  class="form-control" id="w_no" placeholder="رقم هاتف٣" >                   
                </div>
            </div>
                {% else %}
            <input type="hidden" id="cm_id" value="{{request.user.userprofile.comitteemember.id}}">

            {% endif %}
            <div class="form-row mt-3">
                <div class="col-lg-3">
                    <button id="search" type="submit" class="btn btn-info">ابحث</button>
                </div>
            </div>
          
        </form>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
          <table class="table table-sm">
              <thead>
                  <tr>
                  <th scope="col">رقم الناخب</th>
                  <th scope="col">الاسم كامل </th>
                  <th scope="col">هاتف الناخب</th>
                  <th scope="col">هل حصل على بطاقة?</th>
                  </tr>
              </thead>
              <tbody>
  
              </tbody>
              </table>
        </div>
  
    </div>
</div>
{% endblock main %}


{% block js %}

<script>

$('#search').on('click',function(e){
    e.preventDefault()

    cm_id=$('#cm_id').val()
    phone_number=$('#p_no').val()
    whatsapp_number=$('#w_no').val()
    identifier_name=$('#idn_id').val()
    identifier_mobile=$('#idn_p_no').val()
    identifier_wa=$('#idn_w_no').val()

    query=new Object()

    query.phone_number=phone_number
    query.whatsapp_number=whatsapp_number
    query.cm_id=cm_id
    query.identifier_mobile=identifier_mobile
    query.identifier_name=identifier_name
    query.identifier_wa=identifier_wa
    query.is_identifier=true

    $.ajax({
        url:"{% url 'get_voters' %}",
        type:"GET",
        dataType:"JSON",
        data:{
            query:JSON.stringify(query)
        },
        success:function(result){
            console.log(result)
        table=$('tbody')
        table.empty()
        $(result.data).each(function(index,value){
            
            row=document.createElement('tr')
            id=document.createElement('td')
            fullname=document.createElement('td')
            mobile=document.createElement('td')

            election_card=document.createElement('td')
            id.innerHTML=value.id
            fullname.innerHTML=value.full_name+value.full_name+value.full_name+value.full_name
            mobile.innerHTML=value.mobile_no
            election_card.innerHTML=value.has_elc_card
            row.append(id)
            row.append(fullname)
            row.append(mobile)
            row.append(election_card)
            table.append(row)
            
        })
        $('#identifier_result').text("المعرف :"+result.identifier.idn_name)
        }
    })

})

$("#print").on("click",function(){

    cm_name=$('#cm').val()
    phone_number=$('#p_no').val()
    whatsapp_number=$('#w_no').val()
    identifier_name=$('#idn_id').val()
    identifier_mobile=$('#idn_p_no').val()
    identifier_wa=$('#idn_w_no').val()
    query=new Object()
    query.phone_number=phone_number
    query.whatsapp_number=whatsapp_number
    query.cm_id=cm_id
    query.identifier_mobile=identifier_mobile
    query.identifier_name=identifier_name
    query.identifier_wa=identifier_wa
    query.is_identifier=true
    window.open("{% url 'by-idn-report' %}?query="+JSON.stringify(query))
})
{% if request.user.userprofile.campaignadminstrator %}
$( "#cm" ).autocomplete({
      minLength:2 ,
      source: "{% url 'get-cm' %}",

      focus: function( event, ui ) {
          
        $( "#cm" ).val( ui.item['lable']);
        return false;
      },
      select: function( event, ui ) {
          console.log(ui.item['lable'])
        $( "#cm" ).val(ui.item['lable'] );
        $( "#cm_id" ).val( ui.item['id']); 
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.lable + "</div>" )
        .appendTo( ul );
    };

{% endif %}

$( "#idn_name" ).autocomplete({
    minLength:2 ,
    source: "{% url 'get-identifier' %}",

    focus: function( event, ui ) {
        
    $( "#idn_name" ).val( ui.item['lable']);
    return false;
    },
    select: function( event, ui ) {
        console.log(ui.item['lable'])
    $( "#idn_name" ).val(ui.item['lable'] );
    $( "#idn_id" ).val( ui.item['id']); 
    return false;
    }
})
.autocomplete( "instance" )._renderItem = function( ul, item ) {
    return $( "<li>" )
    .append( "<div>" + item.lable + "</div>" )
    .appendTo( ul );
};
</script>


{% endblock %}