<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="container">
        <div class="row mb-3">
            <form class="form-inline" >
                
                    <div class="col-sm-3 m-2">
                        <input type="text" class="form-control" placeholder="اسم عضوالارتباط">
                    </div>
                    <div class="col-sm-3 m-2">
                        <input type="text" class="form-control" placeholder=" 1 رقم هاتف">
                    </div>
        
                    <div class="col-sm-3 m-2">
                        <input type="text" class="form-control" placeholder="رقم هاتف 2">
                    </div>
                
                
                    <div class="col m-5">
                        <select name="" id="" class="form-control">
                            <option value="" >اختر المحافظة</option>
                            <option value="" >irbed</option>
                            <option value="" >balqaa</option>
                            <option value="">maan</option>
                        </select>
                    </div>
                    <div class="col m-2">
                        <select name="" id="" class="form-control">
                            <option value="" >اختر الدائرة</option>
                            <option value="" >irbed</option>
                            <option value="" >balqaa</option>
                            <option value="">maan</option>
                        </select>
                    </div>
                    <div class="col m-2">
                        <select name="" id="" class="form-control">
                            <option value="" >اختر المنطقة</option>
                            <option value="" >amman</option>
                            <option value="" >irbed</option>
                            <option value="" >balqaa</option>
                            <option value="">maan</option>
                        </select>
                    </div>
                    <div class="col m-2">
                        <button class="btn btn-info">ابحث</button>
                    </div>
               
            </form>
          </div>
          <div class="row ">
              <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                        <th scope="col">رقم الناخب</th>
                        <th scope="col">الاسم كامل </th>
                        <th scope="col">هاتف الناخب</th>
                        <th scope="col">اسم المعرف</th>
                        <th scope="col">هاتف المعرف 1</th>
                        <th scope="col">هاتف المعرف 2</th>
                        <th scope="col">هل حصل على بطاقة?</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    </tbody>
                    </table>
              </div>
        
          </div>
    </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
  </div>



