{% extends 'candidate_base.html' %}

{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="#services">اتصل بنا</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
{% endblock extra_content %}

{% block main %}
<div class="container text-aligner">
    <div class="row">
    <h1 class="about-title">تقرير حسب الحالة الانتخابية</h1>
    
    <input id="area_report" hidden>
    <input id="gover_report" hidden>
    <input id="dept_report" hidden>
    </div>
    <div class="row">
        <button class="btn btn-danger btn-sm mb-3" id="print">مراجعة و طباعة التقرير</button>
    </div>
    <div class="row">
        <form >
            <div class="form-row">
                <div class="col-lg-4">
                    <input type="text"  id="cm" class="form-control" placeholder="اسم المعرف">
                </div>

                <div class="col-lg-4">
                    <input type="text" class="form-control"  id="p_no" placeholder="رقم هاتف١" >
                    <input type="hidden" id="cm_id">
                </div>


                <div class="col-lg-4">
                    <input type="text"  class="form-control" id="w_no" placeholder="رقم هاتف٣" >                   
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-3">
                    <div class="form-check mb-2 ml-sm-2">
                        <input class="form-check-input" type="radio" id="male" value="Male">
                        <label class="form-check-label mr-4" >
                        ذكر
                        </label>
                        </div>
                            <div class="form-check mb-2 ml-sm-2">
                            <input class="form-check-input" type="radio" id="female" value="Female">
                            <label class="form-check-label mr-4" >
                            انثى
                            </label>
                            </div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col-lg-3">
                    <button id="search" type="submit" class="btn btn-info">ابحث</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="table-responsive">
          <table class="table table-sm">
              <thead>
                  <tr>
                  <th scope="col">رقم الناخب</th>
                  <th scope="col">الاسم كامل </th>
                  <th scope="col">هاتف الناخب</th>
                  </tr>
              </thead>
              <tbody>
  
              </tbody>
              </table>
        </div>
  
    </div>
</div>
{% endblock main %}


{% block js %}

<script>
$(document).on('change', '#governorate', function () {
    element = $('#governorate option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_gover_dept' %}",
        data: {
        'gover_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#dept").empty();
            $("#dept").append('<option value=""> كل الدوائر</option>');
            $(result).each(function (index, value) {
            $("#dept").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});

$(document).on('change', '#dept', function () {
    element = $('#dept option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_dept_area' %}",
        data: {
        'dept_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#area").empty();
            $("#area").append('<option value=""> كل المناطق</option>');
            $(result).each(function (index, value) {
            $("#area").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});

$('#search').on('click',function(e){
    e.preventDefault()

    cm_id=$('#cm_id').val()
    phone_number=$('#p_no').val()
    whatsapp_number=$('#w_no').val()
    gender=""
    if($(".form-inline").find('input:radio:checked').val()){
        gender=$(".form-inline").find('input:radio:checked').val()
    }


    query=new Object()
    query.phone_number=phone_number
    query.whatsapp_number=whatsapp_number
    query.cm_id=cm_id
    query.status="Not_sure"
    query.gender=gender
    $.ajax({
        url:"{% url 'get_voters' %}",
        type:"GET",
        dataType:"JSON",
        data:{
            query:JSON.stringify(query)
        },
        success:function(result){
            console.log(result)
        table=$('tbody')
        table.empty()
        $(result.data).each(function(index,value){
            row=document.createElement('tr')
            id=document.createElement('td')
            fullname=document.createElement('td')
            mobile=document.createElement('td')
            id.innerHTML=value.id
            fullname.innerHTML=value.full_name+value.full_name+value.full_name+value.full_name
            mobile.innerHTML=value.mobile_no
            row.append(id)
            row.append(fullname)
            row.append(mobile)
            table.append(row)
            
        })
        }
    })

})

$("#print").on("click",function(){
    gender=""
    if($(".form-inline").find('input:radio:checked').val()){
        gender=$(".form-inline").find('input:radio:checked').val()
    }
    cm_name=$('#cm_id').val()
    phone_number=$('#p_no').val()
    whatsapp_number=$('#w_no').val()
    query=new Object()
    query.phone_number=phone_number
    query.whatsapp_number=whatsapp_number
    query.cm_id=cm_name
    query.gender=gender 
    window.open("{% url 'by-status-report' %}?query="+JSON.stringify(query))
    


})

$( "#cm" ).autocomplete({
      minLength:2 ,
      source: "{% url 'get-cm' %}",

      focus: function( event, ui ) {
          
        $( "#cm" ).val( ui.item['lable']);
        return false;
      },
      select: function( event, ui ) {
          console.log(ui.item['lable'])
        $( "#cm" ).val(ui.item['lable'] );
        $( "#cm_id" ).val( ui.item['id']); 
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.lable + "</div>" )
        .appendTo( ul );
    };



$("#male").change(function(){
    $("#female").prop('checked',false)
})

$("#female").change(function(){
    $("#male").prop('checked',false)
})

</script>


{% endblock %}