{% extends 'candidate_base.html' %} {% block extra_content %}

<header id="header">
    <div class="container-ar d-flex align-items-center">
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
                {% if request.user.userprofile.candidate or request.user.userprofile.campaignadminstrator %}
                <li><a href="{% url 'main' %}#tasks">عودة</a></li>
                {% else %}
                <li><a href="{% url 'comittee-member' %}#tasks">عودة</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- .nav-menu -->

    </div>
</header>
{% endblock %} {% block main %}

<div class="container mt-3 text-aligner">
    <div class="row">
        <div class="col-lg-6">
          <div class="card">
        <h5 class="card-header text-center" style="background-color:#aff0ec">{{task.title}}</h5>
        <div class="card-body">
            <h3>موضوع المهمة</h3>
            <p>{{task.description}}</p>
            <label>التوصيات</label> {{form.notes}}
            <div class="row">
                <div class="col-lg-3">
                    <label>اللجنة</label>
                    <h4>{{task.comittee}}</h4>
                </div>
                <div class="col-lg-3">
                    <label>انشئ بواسطة</label>
                    <h4> {{task.created_by.user.first_name}} {{task.created_by.user.last_name}} </h4>
                </div>
                <div class="col-lg-3">
                    <label>تم انجازها ؟</label>
                    <h4> {{form.is_complete}} </h4>
                </div>
                <div class="col-lg-3 mt-2 text-left">
                    <button class="btn  btn-info" id="updateTask">حفظ</button>
                </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="card h-100">
        <h5 class="card-header text-center " style="background-color:#aff0ec">التعليقات و الردود</h5>
        <div class="card-body">
          <div class="row my-2">
            <div class="col-9"><input type="text" class="form-control" placeholder="اكتب تعليق" id="commentText"></div>
            <div class="col-3"><button class="btn btn-info btn-sm mr-1" id="makeComment">اضف تعليق</button></div>
          </div>
          <div class="p-3" style="height:450px; overflow:auto">
          {% for comment in comments %}
          <div class="card my-2">
            <div class="card-header">
                <lable>{{comment.comment_body}} </lable>
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <footer class="blockquote-footer" style="font-size:12px">
                  {{comment.user.user.first_name}} {{comment.user.user.last_name}}
                  <span>{{comment.timestamp.date}}   {{comment.timestamp.time}}</span>
                  <a class="btn btn-sm btn-danger float-left" id="deleteComment" data-comment-id="{{comment.id}}" style="color:Black">حذف التعليق</a>
                  </footer>
              </blockquote>
            </div>
          </div>
           {% endfor %}
         </div>
          </div>
        </div>
        </div>
    </div>
</div>

{% endblock %} {% block js %}
<script>
    $("#updateTask").on("click", function() {
        notes = $("#id_notes").val()
        if ($("#id_is_complete").is(":checked")) {
            is_complete = true
        } else {
            is_complete = false
        }
        data = new Object()
        data.is_complete = is_complete
        data.notes = notes
        data.task_id = '{{task.id}}'
        datajson = JSON.stringify(data)
        $.ajax({
            url: "{% url 'update-task' task.id %}",
            type: 'POST',
            data: {
                data: datajson,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },

            success: function(result) {
                console.log(result)
            }

        })
    })

    $(document).ready(function() {
        task_id = '{{task.id}}'
        user_id = '{{request.user.userprofile.id}}'
        comment = new Object()
        comment.task_id = parseInt(task_id)
        comment.user_id = parseInt(user_id)
        commentJson = JSON.stringify(comment)

        $.ajax({
            url: '{% url "get-comments" %}',
            type: "GET",
            data: {
                comment: commentJson
            },

            success: function(result) {
                console.log(result)
            }

        })
    })

    $("#makeComment").on("click", function() {
        comment = new Object()
        comment_text = $("#commentText").val()
        comment_task = parseInt("{{task.id}}")
        comment_user = parseInt('{{request.user.userprofile.id}}')
        comment.comment_text = comment_text
        comment.comment_task = comment_task
        comment.user = comment_user
        commentJson = JSON.stringify(comment)

        $.ajax({
            url: "{% url 'create-comment' %}",
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{csrf_token}}",
                comment: commentJson
            },
            success: function(result) {

                location.reload();
            }
        })
    })

    $("#deleteComment").on("click", function() {
        comment_id = $(this).data("comment-id")
        comment = new Object()
        comment.id = comment_id
        commentJson = JSON.stringify(comment)
        $.ajax({

            url: "{% url 'update-comment' %}",
            type: "POST",
            data: {
                comment: commentJson,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            success: function() {
                location.reload()
            }
        })
    })
</script>
{% endblock js %}
