{% extends 'candidate_base.html' %}


{% block extra_content %}
  <header id="header">
    <div class="container-ar d-flex align-items-center" >
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'logout' %}">تسحيل خروج</a></li>
          <li><a href="{% url 'main' %}">عودة</a></li>
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
{% endblock %}
{% block main %}
<div class="container mt-5 text-aligner">
    
<div class="row">
    <div class="col-sm-4">
        <h5 class="about-title">
            تعديل عضو لجنة
            {{cm.profile.first_name}} {{cm.profile.last_name}}
        </h5>
    </div>
    <div class="col-sm-6">
        <h5 class="about-title">اللجنة: {{cm.comittee.name}}</h5>
    </div>

</div>

<div class="row">
    <div class="col-sm-4">
        <h5>رقم الهاتف:{{cm.profile.mobile_number}}</h5>
        <h5>رقم واتساب:{{cm.profile.whatsapp_number}}</h5>
    </div>

    <div class="col-sm-4"> 
        <h5>العنوان:</h5>
      
        <h5>{{cm.profile.address.area}}/{{cm.profile.address.district}}</h5>
    </div>
</div>

<div class="row">
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
                <label for="">اللجنة</label>
                <select class="form-control" name="comittee">
                    <option value="{{cm.comittee.id}}">{{cm.comittee}}</option>
                    {% for comittee in comittees_list %}
                    <option value="{{comittee.id}}">{{comittee.name}}</option>
                    {% endfor %}
                  </select>
            
        </div>

        <div class="form-row mt-3">
            <input type="checkbox" name="is_manager">
            <label for="">تعيين كمدير للجنة </label>
            
        </div>
        <div class="form-row mt-3">
            <div class="col-lg">
                <label >تتعيين منطقة</label>
                <select name="area" id="area" class='form-control'>
                    {% for area in areas_list %}
                    <option value="{{area.id}}">{{area.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg">
                <label >تتعيين حي</label>
                <select name="district" id="district" class='form-control'>
                    
                    <option value="">الحي</option>
                    
                </select>
            </div>
        </div>
        <div class="form-row mt-3">
            <input type="checkbox" name="is_active">
                <label for="">تعطيل الحساب</label>
                
                
         
        </div>
        <div class="form-row mt-3">
            <input type="submit" class="btn btn-danger" value="حفظ">
        </div>
    </form>

</div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).on('change', '#area', function () {
    element = $('#area option:selected').val();
    $.ajax(
        {
        type: "GET",
        url: "{% url 'get_district' %}",
        data: {
        'area_id': element
        },
        dataType: 'JSON',
            success: function (result) {
            $("#district").empty();
            $("#district").append('<option value=""> الحي</option>');
            $(result).each(function (index, value) {
            $("#district").append('<option value="' + value.id + '">' + value.name + '</option>');
            });

            }
        }
    );
});
</script>
{% endblock %}